{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Post
{% endblock title %}

{% block content %}
   <h1><em>Общее количество постов: {{ filterset.qs|length }}</em></h1>
   <h3><em>Акутальная дата и время: {% current_time '%d-%m-%Y %H:%M:%S' %}</em></h3>
   <h3><p>{{ next_sale|default_if_none:"Скоро обновление новостей!" }}<img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-cool.gif" alt="cool" /></p> </h3>
   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>
   <hr>
   {% if post %}
       <table>
           <tr>
               <td><h3>Автор</h3></td>
               <td><h3>Тип публикации</h3></td>
               <td><h3>Заголовок</h3></td>
               <td><h3>Дата публикации</h3></td>
               <td><h3>Текст</h3></td>
           </tr>
           {% for post in post %}
           <tr>
               <td><h6>{{ post.author | currency:'Fi' | censor}}</h6></td>
               <td><h6>{{ post.post_type}}</h6></td>
               <td><h6>{{ post.title | truncatewords:10 | censor}}</h6></td>
               <td><h6>{{ post.time_created|date:'j.m.Y' }}</h6></td>
               <td><h6>{{ post.text | truncatechars:20| censor }}</h6></td>>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Постов нет!!</h2>
   {% endif %}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}